# Visual Studio
.vs/
GovukNotify.userprefs

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
bin/
obj/

# Test results
TestResult.xml

# Linux and Mac Dev Environment
environment.sh
.DS_Store
.idea/
/src/GovukNotify.Tests/GovukNotify.Tests.csproj.user


docker.env
